.site-nav {
	margin: 1rem auto;
	text-align: center;
}

.site-nav-list {
	background: rgba(48, 95, 128, 1);
    display: inline-block;

	.nav-item {
		+ .nav-item {
			border-left: 1px solid #000;
		}

		.nav-item-text {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.25rem;

			&:before {
				@extend %fa;
				margin-right: .5rem;
			}
		}

		.nav-item-button {
			color: #67c1f5;
			font-size: 1rem;
			line-height: 2rem;
			padding: 0 2rem;

			&:hover {
				background: #67c1f5;
				color: #ffffff;
			}
		}
	}

	.nav-item-home .nav-item-text {
		&:before {
			content: '\f015';
		}
	}
	.nav-item-games .nav-item-text {
		&:before {
			content: '\f11b';
		}
	}
	.nav-item-users .nav-item-text {
		&:before {
			content: '\f007';
		}
	}


}

.nav-item {
	display: inline-block;
	list-style-type: none;
    text-align: center;
}
