.slider {

	.slider-prev,
	.slider-next {
		&:hover {
			background: #fff;
		}
	}

	.slider-prev {
		border-radius: 0 8px 8px 0;
		left: 0;
		&:before {
			@extend %fa;
			content: '\f104';
		}
	}

	.slider-next {
		border-radius: 8px 0 0 8px;
		right: 0;

		&:before {
			@extend %fa;
			content: '\f105';
		}
	}

	.slider-title {
		&:after {
			@extend %fa;
			content: '\f105';
			font-size: 1.75rem;
			margin-left: 1rem;
		}
	}
}
